@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}

/* Para navegadores webkit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
    display: none;
}

/* Para Firefox */
body {
    scrollbar-width: none; /* Firefox */
}

/* Aplicación general */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    overflow-y: scroll; /* Asegura que el contenido aún puede desplazarse */
}

